.chat-body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
}


.chat-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #363636;
    color: white;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.otro{
    background-color: #8d8e92;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 10px;
    width: max-content;
    align-self: flex-start;
}
.otro h5{
    color: rgb(214, 214, 214);
}

.mio{
    background-color: #6e9d93;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 10px;
    width: max-content;
    justify-content: flex-end;
    margin-left: auto;
    width: max-content;
    height: auto;
    
}
.mio h5{
    text-align: right;
    color: rgb(214, 214, 214);
}
li{
    list-style: none;
}

