.input-container{
    display: flex;
    flex-direction: row;
    position:sticky;
    bottom: 15px;
    top: 400px;
    color: white;
    right: 50vw;
    width: 100vw;
    justify-content: center;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inputbox {
    position: relative;
    width: 500px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
    color: #6f6f6f;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0, 75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #1a1a1a;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
    height: 44px;
}





.send-button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 5px 5px;
    display: flex;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    margin-top: 8px;
    
}

.send-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    padding: 0em;
    background: linear-gradient(to bottom, #5bd9ec 0%, #97c3ff 100%);
    cursor: pointer;
}

.send-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.send-button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.send-button:hover span {
    scale: 0;
    font-size: 0%;
    opacity: 0;
    transition: all 0.5s;
}

.send-button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.send-button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}

.send-button:hover .svg-wrapper {
    background-color: rgba(43, 169, 228, 0.897);
    width: 40px;
    height: 40px;
}

.send-button:hover svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    transform: rotate(45deg);
}


@media (max-width: 650px) {
    .inputbox {
    max-width: 300px;
    }
}
@media (max-width: 470px) {
    .inputbox {
    max-width: 190px;
    }
}
@media (max-width: 400px) {
    .inputbox {
    max-width: 190px;
    }
}