@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");



.list-workspace-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
}

.list-workspace-title {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    font-size: 35px;
}

.list-workspace-workspaces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.list-workspace-workspaces {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    justify-content: space-between;
    background-color: white;
    height: 100px;
    width: 300px;
}



.button-workspace {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 10px;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button-workspace:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button-workspace::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}

.bi{
    font-size: 20px;
    margin-right: 5px;
}

